.footer {
  position: absolute;
  bottom: 0;
  background-color: #e4e4e4;
  width: 100%;
  padding: 30px 0 20px 0;
  p {
    color: #808080;
    text-align: center;
  }
  span {
    cursor: pointer;
  }
}
