*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.duck {
  width: 110px;
  height: 100px;
  z-index: 3;
}

.duck-head {
  width: 50%;
  height: 45%;
  background: #fead26;
  border-radius: 50%;
  margin-left: 0.3rem;
  position: relative;
}

.duck-eye {
  width: 15%;
  height: 20%;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 35%;
  left: 18%;
}

.duck-pupil {
  width: 75%;
  height: 90%;
  background: #272727;
  border-radius: 45%;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.duck-beak {
  width: 50%;
  height: 40%;
  background: rgba(234, 31, 31, 0.7);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: 50%;
  left: -25%;
  z-index: -1;
}

.duck-body {
  width: 100%;
  height: 55%;
  background: #fead26;
  border-radius: 50%;
  position: relative;
  top: -11%;
  left: 10%;
}

.duck-wing {
  width: 50%;
  height: 45%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #ef9701;
  position: absolute;
  top: 15%;
  left: 20%;
}

.duck-tail {
  width: 20%;
  height: 30%;
  border-top: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 25px solid #fead26;
  border-left: 10px solid transparent;
  position: absolute;
  right: -6%;
  top: -3%;
  -webkit-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  transform: rotate(32deg);
}

.water {
  background-color: #4682b4;
  z-index: -2;
  width: 100%;
  height: 60%;
  border-radius: 50%;
  position: absolute;
  top: 65%;
}
