<div class="container">
  <h1>Page not found - Error 404</h1>
  <h2>The duck ate the breadcrumbs that lead to this page.</h2>
  <div>
    <div (click)="quack()" class="duck">
      <div class="duck-head">
        <div class="duck-eye">
          <div class="duck-pupil"></div>
        </div>
        <div class="duck-beak"></div>
      </div>
      <div class="duck-body">
        <div class="duck-wing"></div>
        <div class="duck-tail"></div>
        <div class="water"></div>
      </div>
    </div>
  </div>
</div>
