<div class="container">
  <h1>Janner<span class="color-primary">.</span>dev</h1>
  <ul>
    <li>
      <a class="gitlab" href="https://gitlab.com/ljanner">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <fa-icon class="gitlab" [icon]="faGitlab"></fa-icon>
      </a>
    </li>
    <li>
      <a class="linkedin" href="https://www.linkedin.com/in/loris-janner/">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <fa-icon [icon]="faLinkedin" primaryColor="red"></fa-icon>
      </a>
    </li>
    <li>
      <a class="github" href="https://github.com/ljanner">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </li>
  </ul>
</div>
