h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

ul {
  display: flex;

  li {
    list-style: none;
  }
}
ul li a {
  display: block;
  position: relative;
  width: 20vw;
  max-width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  color: var(--color-primary);

  span {
    position: absolute;
    transition: transform 0.5s;
    background: var(--color-primary);
  }

  span:nth-child(1),
  span:nth-child(3) {
    width: 100%;
    height: 3px;
  }

  span:nth-child(2),
  span:nth-child(4) {
    width: 3px;
    height: 100%;
  }

  span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }

  span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
  }

  span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
  }

  span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
  }
}

ul li a:hover {
  span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }

  span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform 0.5s;
  }
  span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s;
  }
}

.gitlab:hover {
  color: #fc6d26 !important;
}
.gitlab:hover span {
  background: #fc6d26 !important;
}
.linkedin {
  margin: 0 30px;
}
.linkedin:hover {
  color: #0077b5 !important;
}
.linkedin:hover span {
  background: #0077b5 !important;
}
.github:hover {
  color: #959da5 !important;
}
.github:hover span {
  background: #959da5 !important;
}
