@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary: #007bff;
  --color-primary: #404040;
  --bg-primary: #ebebeb;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
}

h1,
h2,
button {
  color: var(--color-primary);
}

h1 {
  font-size: 45px;
}

.color-primary {
  color: var(--primary);
}

.container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
